<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://fr.web.img5.acsta.net/newsv7/19/07/24/17/36/5687790.jpg);">
  <div class="banner-text-container">
    <h1>Rent a hero to do the work you can't do</h1>
    <p>Search them by power</p>
  </div>
</div>

<div class="main-container">
  <div class="title-and-actions">
    <h1>My heros</h1>
      <%= button_to "Add a hero", new_hero_path, :class => "btn btn-primary", :method => :get %>
  </div>

  <div class="cards-container" id="cardhero">
  <% @heros.each do |hero| %>
    <% if hero.photo.attached? %>
      <div class="hero-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path hero.photo.key, height: 200, crop: :fill %>')">
        <a class="hero-title" href='/heros/<%= hero.id %>'>
          <span class="hero-name"><%= hero.name %></span>
        </a>
      </div>
    <% else %>
      <div class="hero-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= hero.picture %>')">
        <a class="hero-title" href='/heros/<%= hero.id %>'>
          <span class="hero-name"><%= hero.name %></span>
        </a>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
