<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2luZW1hfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Rent your hero to do the work you don't want to do</h1>
    <p>Search them by power</p>
  </div>
</div>

<div class="main-container">
  <div class="title-and-actions">
    <h1>My heros</h1>
    <%= button_to "Add a hero", new_hero_path, :class => "btn btn-primary", :method => :get %>
  </div>
  <div class="cards-container my-hero d-flex">
  <% @heros.each do |hero| %>

        <div class="card" style="width: 18rem;">
          <img src="<%= hero.picture %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= hero.name %></h5>
            <p class="card-text"><%= hero.category %></p>
            <div class="btn btn-primary" id="btn">
              <%= link_to "Rent your hero", hero %>
            </div>

          </div>
        </div>
        <% end %>
  </div>
</div>
