<div class="container align-item-center">
  <div class="card-category mb-3" style="width: 900px; height: 300px;">
    <img src="<%= @hero.picture %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= @hero.fullname %></h5>
      <p class="card-text"><%= @hero.alignment %></p>
      <p class="card-text"><%= @hero.category %></p>
      <p class="card-text"><small class="text-muted"><%= @hero.publisher %></small></p>
    </div>
  </div>
</div>
