<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://fr.web.img5.acsta.net/newsv7/19/07/24/17/36/5687790.jpg);">
  <div class="banner-text-container">
    <h1><%= @hero.name %></h1>
  </div>
</div>

<div class="main-container">
  <div class="cards-container">
      <div class="card">
        <% if @hero.photo.attached? %>
          <img src="<%= cl_image_path @hero.photo.key, crop: :thumb %>" width="100%" height="300px" style="object-fit:cover; object-position: center top;" alt="">
        <% else %>
          <img src="<%= @hero.picture %>" width="100%" height="300px" style="object-fit:cover; object-position: center top;" alt="">
        <% end %>
        <div class="card-infos">
          <h2><%= @hero.name %></h2>
          <p>Full name: <em><%= @hero.fullname %></em></p>
          <p>Alignment: <em><%= @hero.alignment.capitalize %></em></p>
          <p>Category: <em><%= @hero.category %></em></p>
          <p>Owner: <em><%= @hero.publisher %></em></p>
        </div>
        <div class="actions">
          <a class="link remove" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/heros/<%= @hero.id %>">Remove</a>
          <% if user_signed_in? %>
            <a class="link book" rel="nofollow" data-method="post" data-confirm="Are you sure ?" href="/heros/<%= @hero.id %>/bookings">Book this hero</a>
          <% else %>
            <a class="link book" rel="nofollow" data-method="post" href="/heros/<%= @hero.id %>/bookings">Book this hero</a>
          <% end %>
        </div>
      </div>
  </div>
</div>

  <div class="reviews-container">
      <div class="display-reviews">
        <h2>Reviews</h2>
        <% if @hero.reviews %>
          <% @hero.reviews.each do |review| %>
            <div class="reviews">
              <p><em>"<%= review.content %>"</em></p>
              <i class="fas fa-star"></i>
              <p> <%= review.rating %></p>
              <p> by: <%= review.user.pseudo %></p>
            </div>
          <% end %>
        <% else %>
          <p><em>Be the first one to review this list</em></p>
        <% end %>
      </div>

      <div class="review-form">
        <h2>Add your review</h2>
        <%= simple_form_for [@hero, @review] do |f| %>
        <div class="form-element">
          <%= f.input :content, placeholder: "Add your review here..." %>
          <%= f.input :rating, error: 'Rating should be between 0 to 10', placeholder: 'From 0 to 10' %>
        </div>
        <div class="form-actions">
          <input type="submit" data-method="post" name="commit" value="Create review" class="btn btn-primary">
        <% end %>
        </div>
      </div>

  </div>
