<div id="profile-navigation">
  <div class="barre-btns d-flex justify-content-center">
    <a class="btn-violet ml-1 mr-1 mb-1" href="#division1">MY PROFIL</a>
    <a class="btn-violet ml-1 mr-1 mb-1" href="#division2">MY HEROES</a>
    <a class="btn-violet ml-1 mr-1 mb-1" href="#division3">MY BOOKINGS</a>
  </div>
</div>

<div class="user-main-container">
  <div id="division1" class="user-container">
  <div class="user-intro">
    <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class:"avatar", crop: :fill, alt: "avatar" %>
    <% else %>
        <%= image_tag "avatar.png", height: 60, alt: "avatar" %>
    <% end %>
    <h1>Hello <%= @user.pseudo %> ! This is your profile page </h1>
  </div>
  <div class="edit-container">
    <h2>Edit your informations</h2>
      <div class="profile-infos">
        <%= simple_form_for(@user, remote: true) do |f| %>
        <div class="form-element">
          <%= f.input :pseudo %>
          <%= f.input :email %>
          <%= f.input :photo, as: :file %>
        </div>
        <input type="submit" name="commit" value="Edit" class="btn-violet">
      <% end %>
      </div>
  </div>
 </div>
</div>


    <div id="division2" class="user-main-container">
    <div class="user-container">
    <div class="owner-heroes">
      <h1 id="owner-heroes-delete">My heroes</h1>
        <% a = [] %>
        <% @heros.each do |hero| %>
          <% if hero.user == current_user %>
            <div class="hero-info">
            <a href="/heros/<%= hero.id %>">"<%= hero.name %>"</a>
            <a class="link remove" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/heros/<%= hero.id %>"><i class="fas fa-trash-alt"></i></a>
            </div>
            <% a << hero.name %>
          <% end %>
        <% end %>
        <% if a.count == 0 %>
          <p><em>You don't have any hero yet</em></p>
        <% end %>
        <a class="btn-violet" href="/heros/new?">Add a hero</a>
    </div>

    <div class="owner-bookings">
      <h1 id="owner-booking-update">Please confirm clients booking</h1>
        <% c = [] %>
        <% @bookings.each do |booking| %>
          <% if booking.hero.user == current_user %>
            <% if booking.status == true %>
              <% c << booking.id %>
              <p> <%= booking.user.pseudo %> has booked <%= booking.hero.name %> from <%= booking.beginning.strftime("%d/%m/%Y") %> to <%= booking.end.strftime("%d/%m/%Y") %> for the price of <%= booking.bookingprice %>€</p>
            <% else %>
              <% c << booking.id %>
              <p> <%= booking.user.pseudo %> wants to book <%= booking.hero.name %> from <%= booking.beginning %> to <%= booking.end %> for the price of <%= booking.bookingprice %>€</p>
              <%= simple_form_for(booking, url: hero_booking_path(booking.hero, booking.id), remote: true) do |f| %>
                <%=f.collection_radio_buttons :status, [[true, 'Yes'], [false, 'No']], :first, :last %>
                <input type="submit" name="commit" data-method="patch" value="Confirm" class="btn btn-violet">
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if c.count == 0 %>
          <p><em>You don't have any pending booking to confirm</em></p>
        <% end %>
    </div>
    </div>
    </div>


   <div id="division3" class="user-main-container">

    <div class="user-bookings">
      <h1 id="booking-info">My bookings</h1>

      <table>
        <tr>
          <th class="column-title">Hero</th>
          <th class="column-title">Booking dates</th>
          <th class="column-title">Price</th>
          <th class="column-title">Status</th>
          <th class="column-title">Cancel or Review</th>
        </tr>
        <% d = [] %>
        <% @user.bookings.each do |booking| %>
          <% d << booking.id %>
          <% if d.count == 0 %>
            <p><em>You don't have any booking yet</em></p>
          <% end %>

          <tr>
            <th>
              <a href="/heros/<%= booking.hero.id %>"><em>"<%= booking.hero.name %>"</em></a>
            </th>
            <th>
              <p> From <%= booking.beginning.strftime("%a, %B %d") %> to <%= booking.end.strftime("%a, %B %d") %> </p>
            </th>
            <th>
              <p> <%= booking.bookingprice %>€</p>
            </th>
              <% if booking.end.to_s <= @time %>
                <th>
                  <p> <%= booking.hero.name %> has already worked for you !</p>
                </th>
                <th>
                  <% @bookings.each do |booking| %>
                   <% if booking.user == current_user %>
                    <% if booking.status == true %>
                      <% if booking.end.to_s <= @time %>
                        <% f = [] %>
                        <% booking.hero.reviews.each do |review| %>
                          <% if review.user == current_user %>
                            <% f << review.content %>
                          <% end %>
                          <% if f.blank? %>
                            <a href="/heros/<%= booking.hero.id %>/#review-add">Review and rate <%= booking.hero.name %> ! </a>
                          <% else %>
                            <div class="hero-info">
                              <p><em>"<%= review.content %>"</em></p>
                              <p><i class="fas fa-star"></i> <%= review.rating %></p>
                              <a class="delete" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/reviews/<%= review.id %>"><i class="fas fa-trash-alt"></i></a>
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                </th>


              <% else  %>
                <% if booking.status == true %>
                <th>
                  <p>Confirmed</p>
                </th>
                <th>
                  <a class="delete" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/bookings/<%= booking.id %>">Cancel booking</a>
                </th>
                <% else %>
                <th>
                  <p>Waiting for confirmation</p>
                </th>
                <th>
                  <a class="delete" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/bookings/<%= booking.id %>">Cancel</a>
                </th>
                <% end %>
              <% end %>
              </tr>
        <% end %>
      </table>
    </div>

</div>
