<!DOCTYPE html>
<html>
  <head>
    <title>RentASuperHero</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d5420d4624.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="_home.scss">
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/flashes' %>

  <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>Copyright © 2021 Lit Up Team All Rights Reserved</p>
      <p>This website was coded by Lit Up Team <i class="fas fa-lightbulb"></i> at Le Wagon.</p>
    </div>
  </div>
  </body>
</html>
