<!DOCTYPE html>
<html>
  <head>
    <title>RentASuperHero</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
<<<<<<< HEAD
    <%= render "shared/navbar" %>
=======
    <%= render 'shared/navbar' %>
>>>>>>> 9308a7da027f0d8a10c7465bd2047131ff0572b2
    <%= yield %>
    <%= render 'shared/flashes' %>
  </body>
</html>
